<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KrokokotWEB</title>
  </head>
  <body class="body_index">

  <h1> Just born your krokokot: <%= name %> </h1>
  <h3> Kroko say: Hi, my name is <%= name %> </h3>
  <h3> I am krokokot and your best friend. But if you do not give me a food and play with me, i will eat you :) </h3>
  <img src="../public/kroko_born.jpg" alt="kroko_born">
  <h3>Status:</h3>
  <h3>Health <%= get('health')%></h3>
  <h3>Food   <%= get('play')  %></h3>
  <h3>Sleep  <%= get('sleep') %></h3>
  <h3>Eat  <%= get('eat') %></h3>
  <h3>Agress  <%= get('agress') %></h3>

<div class="row" >
  <form action="/start" method="get">

    <button type="submit" class="btn btn-outline-info" name="health" value="start">Lets play!</button>

  </form>
</div>

</body>
</html>